<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> working angular </title>

    <script src="Scripts/angular.min.js"></script>
</head>

<body data-ng-app="">

<div data-ng-controller="SimpleController">
    <p>Input something in the input box:</p>

    <p>Name :
        <input type="text" data-ng-model="name" placeholder="Enter name here"/>
    </p>
    <ul>
        <li data-ng-repeat="cust in customers |  filter:name | orderBy:'city' ">
            {{ cust.name | uppercase }} - {{ cust.city | lowercase }}
        </li>
    </ul>
</div>

<script>
    function SimpleController($scope) {
        $scope.customers = [
            {name: 'sonford Son', city: 'Nairobi'},
            {name: 'phidel onyango', city: 'Mombasa'},
            {name: 'Lynder anyango', city: 'Kisumu'}
        ];
    }
</script>

</body>
</html>