<!DOCTYPE html>
<html ng-app="">
<head>
    <meta charset="UTF-8">
    <title> working angular </title>

</head>

<body ng-init="names=['sonford Son','Onyango Phidel','Mita  Cliff']">
        Name:
        <br/>
         <p>Input something in the input box:</p>
        <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"/><h1>{{ name }}</h1></p>
        <br/>
            <ul>
                 <li ng-repeat="name in names">{{ name }}</li>
            </ul>

<script src="Scripts/angular.min.js"></script>

</body>
</html>